name: Releases to CurseForge and/or Modrinth

on:
  workflow_dispatch: 

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          
      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          java-version: '21'
          distribution: 'temurin'
          
      - uses: gradle/actions/setup-gradle@v5
        with:
          gradle-version: 9.2.1
        name: Set up Gradle
        
      - name: Add permission
        run: chmod +x ./gradlew
        
      - name: Execute Gradle build
        run: ./gradlew build

      - name: Get Changes between Tags
        id: changes
        uses: simbo/changes-between-tags-action@v1

      - uses: Kir-Antipov/mc-publish@v3.3.0
        with:
          # Only include this section if you wish to publish
          # your assets on Modrinth.
          modrinth-id: placeholder
          modrinth-token: ${{ secrets.MODRINTH_TOKEN }}

          # Only include this section if you wish to publish
          # your assets on CurseForge.
          curseforge-id: placeholder
          curseforge-token: ${{ secrets.CURSEFORGE_TOKEN }}

          files: |
            build/libs/!(*-@(dev|sources|javadoc)).jar
            build/libs/*-@(dev|sources|javadoc).jar
          loaders: forge
          game-versions: 1.12.2
          java: |
            21
            22
          version: ${{ steps.changes.outputs.tag }}
          changelog: ${{ steps.changes.outputs.changes }}
